@charset "UTF-8";
.woocommerce-input-wrapper {
  width: 100%; }

figure.woocommerce-product-gallery__wrapper {
  max-width: inherit !important; }

@media (min-width: 768px) {
  #coupon_code.input-text {
    width: 110px !important; } }
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.2857142857em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.8571428571em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

a:active, input:active, button:active {
  outline: none !important;
  border: none !important; }

a:focus, input:focus, button:focus {
  outline: 0 !important; }

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none !important; }

body {
  background: #2D3748 !important;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #D5DCE6; }

#page-wrapper, #index-wrapper, #single-wrapper, div#full-width-page-wrapper {
  padding-top: 25px; }

a {
  color: #19AAD9; }

p > span {
  font-weight: inherit !important; }

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #fafafa;
  z-index: 1051; }

.slim-header {
  position: relative;
  z-index: 1052;
  background: #1a202c;
  border: none; }
  .slim-header .slim-logo {
    letter-spacing: -0.04em;
    font-size: 42px;
    font-weight: 600; }
    .slim-header .slim-logo a {
      color: #19AAD9; }
  .slim-header .search-box {
    align-items: center;
    border: 1px solid #4a5568;
    background-color: #1a202c;
    padding: 2px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 10px; }
    .slim-header .search-box ::placeholder, .slim-header .search-box :-ms-input-placeholder, .slim-header .search-box ::-ms-input-placeholder {
      color: red; }
    .slim-header .search-box input {
      color: #fff;
      padding-left: 10px; }
      .slim-header .search-box input ::placeholder, .slim-header .search-box input ::-ms-input-placeholder, .slim-header .search-box input ::-ms-input-placeholder {
        color: red; }
    .slim-header .search-box button.btn-primary {
      color: #1a202c;
      background: #2d3748; }
      .slim-header .search-box button.btn-primary hover {
        background: #007ab1;
        color: #fff; }
      .slim-header .search-box button.btn-primary::focus, .slim-header .search-box button.btn-primary::active {
        outline: none !important;
        border-color: transparent; }

.slim-logo a:after {
  content: ".";
  color: #fff;
  font-family: sans-serif; }

.slim-pagetitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  padding-left: 0;
  border-left: none;
  text-transform: inherit;
  font-weight: 200;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0; }

.slim-breadcrumb {
  background: none;
  font-weight: 200; }
  .slim-breadcrumb .breadcrumb-item a {
    color: #718096; }
  .slim-breadcrumb .breadcrumb-item::before {
    color: #718096;
    padding: 0 5px; }
  .slim-breadcrumb .breadcrumb-item.active {
    color: #d5dcee; }

.slim-footer {
  border-top: none;
  background: #2d3748;
  color: #718096;
  padding: 25px 0; }
  .slim-footer a {
    color: #718096;
    text-decoration: underline; }
  .slim-footer a:hover {
    color: #a0aec0; }
  .slim-footer .container, .slim-footer .slim-footer .container-fluid {
    font-size: 12px;
    text-align: center; }

.cn-branding {
  background: #212121; }
  .cn-branding .cn-logo {
    text-align: right; }
    .cn-branding .cn-logo img {
      max-width: 200px;
      margin-top: 20px;
      margin-bottom: 20px; }

.image-header {
  display: block;
  height: 0;
  position: relative !important;
  padding-top: 32.5%; }
  .image-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4850315126) 37%, rgba(140, 167, 172, 0.8155637255) 67%, #003b47 100%);
    opacity: .5;
    z-index: 1; }
  .image-header img {
    object-fit: cover;
    font-family: "object-fit: cover";
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    right: 0;
    z-index: 0;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease; }

#main-nav {
  padding: 30px; }
  #main-nav p {
    color: #6b6b6b; }

.test {
  box-shadow: 0 0.5rem 2rem 0 rgba(7, 0, 71, 0.1);
  position: relative;
  z-index: 5; }

.engage-nav {
  background-color: white !important; }

ul#main-menu {
  width: 100%;
  justify-content: space-between; }
  ul#main-menu .menu-item.current-menu-item a {
    color: #007ab0;
    font-weight: 400; }
  ul#main-menu .menu-item a {
    color: black;
    transition-duration: 0.3s; }
    ul#main-menu .menu-item a:hover, ul#main-menu .menu-item a:focus {
      color: #007ab0; }

.logo-wrapper {
  position: absolute;
  z-index: 3;
  top: -100px; }
  .logo-wrapper img {
    max-width: 165px;
    box-shadow: 0 0.5rem 2rem 0 rgba(7, 0, 71, 0.1); }

a:hover, a:focus {
  text-decoration: none; }

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip .imp-tooltip-close-button {
  position: sticky;
  line-height: 1;
  text-align: right;
  width: 100%;
  padding: 10px; }

.imp-fullscreen-tooltip {
  background: rgba(0, 0, 0, 0.75) !important; }

.squares-container {
  margin: 0 auto;
  height: 100vh;
  display: table; }

video.video_holder {
  margin: 0 auto;
  position: relative;
  width: 80%; }

.image-container {
  display: block;
  height: 0;
  position: relative !important; }
  .image-container.home-teasers {
    padding-top: 56%; }
  .image-container img {
    object-fit: cover;
    font-family: "object-fit: cover";
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    right: 0;
    z-index: 0;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.home-title {
  margin-bottom: 25px; }

.section-teasers:hover, .section-teasers:focus {
  text-decoration: none; }
  .section-teasers:hover .lower-teaser-content, .section-teasers:focus .lower-teaser-content {
    background-color: #d5ff21; }
    .section-teasers:hover .lower-teaser-content h4, .section-teasers:focus .lower-teaser-content h4 {
      color: #1a202c; }
    .section-teasers:hover .lower-teaser-content .date, .section-teasers:focus .lower-teaser-content .date {
      color: #1a202c; }
.section-teasers .lower-teaser-content {
  position: relative;
  transition-duration: 0.4s;
  background-color: #1a202c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 25px;
  margin-bottom: 25px; }
  .section-teasers .lower-teaser-content h4 {
    color: #d5ff21;
    font-size: 1.6rem;
    margin-bottom: 0;
    font-weight: 200; }
  .section-teasers .lower-teaser-content .date {
    color: #d5dcee;
    font-size: 13px;
    margin-top: 0;
    font-weight: 400;
    letter-spacing: 0.5px; }
  .section-teasers .lower-teaser-content .icon-click {
    width: fit-content;
    background: #d5ff21;
    padding: 15px 17px 16px 20px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: -24px;
    right: 25px; }
    .section-teasers .lower-teaser-content .icon-click img {
      width: 15px;
      height: 15px; }

.alt-band {
  background-color: #fafafa;
  padding: 40px 0px;
  text-align: center; }
  .alt-band h5 {
    margin-bottom: 0px;
    font-size: 2.1rem;
    margin-bottom: 15px; }
  .alt-band p {
    margin-bottom: 25px; }

.btn.btn-default {
  background-color: #3dd1f5;
  color: #1a202c;
  border-radius: 100px;
  padding: 10px 25px;
  border: solid 1px #3dd1f5;
  transition-duration: 0.3s; }
  .btn.btn-default:focus, .btn.btn-default:hover {
    color: #3dd1f5;
    background: #1a202c; }

.modal .modal-content {
  background: #1a202c;
  border-radius: 10px;
  font-size: inherit; }
.modal .modal-header {
  background: none;
  border-radius: 0;
  border-bottom: none; }
  .modal .modal-header h6 {
    line-height: 1;
    color: #aaff01;
    font-weight: 200;
    font-size: 31px;
    text-transform: none;
    padding: 0;
    margin: 0; }
  .modal .modal-header .close {
    color: #4a5568;
    opacity: 1;
    text-shadow: 0 0 black; }
    .modal .modal-header .close:hover {
      color: #ff0a47; }
.modal .modal-body {
  padding: 0 25px; }
  .modal .modal-body .mg-b-5 {
    margin-bottom: 0; }
.modal .modal-footer {
  background: none;
  border: none;
  padding: 0 25px 25px; }
  .modal .modal-footer .btn, .modal .modal-footer .sp-container button {
    background: #4a5568;
    border: 1px solid #4a5568;
    color: #1a202c;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    padding: 10px 20px; }
    .modal .modal-footer .btn:hover, .modal .modal-footer .sp-container button:hover {
      border-color: #ff0a47;
      background: #1a202c;
      color: #ff0a47; }

.imp-ui-element {
  background: #1a202c !important;
  box-shadow: none;
  border: 1px solid #1a202c;
  border-radius: 10px;
  color: #d5dcee; }

.page-template-questionnaire-page .teaser {
  box-shadow: 0 0.125rem 0.375rem 0 rgba(7, 0, 71, 0.1); }
  .page-template-questionnaire-page .teaser .teaser-content {
    padding: 25px;
    background-color: #1a202c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .page-template-questionnaire-page .teaser .teaser-content h4 {
      color: #ffaa01;
      font-size: 1.6rem;
      margin-bottom: 25px;
      font-weight: 200; }
  .page-template-questionnaire-page .teaser .image-container {
    position: relative;
    padding-top: 46%; }
  .page-template-questionnaire-page .teaser .image {
    display: block;
    width: 100%;
    height: auto; }
  .page-template-questionnaire-page .teaser .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 170, 1, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease; }
  .page-template-questionnaire-page .teaser .image-container:hover .overlay {
    bottom: 0;
    height: 100%; }
  .page-template-questionnaire-page .teaser .text {
    color: #ffaa01;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #1a202c;
    line-height: 1;
    padding: 10px 25px;
    border-radius: 100px;
    background: #1a202c;
    text-transform: uppercase; }
  .page-template-questionnaire-page .teaser .arrow {
    background: #ffaa01;
    color: #1a202c;
    padding: 4px 15px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #ffaa01;
    padding: 15px 25px;
    border-radius: 100px;
    line-height: 1;
    margin: 0 0 0 auto; }
    .page-template-questionnaire-page .teaser .arrow:hover {
      background: #1a202c;
      color: #ffaa01; }
    .page-template-questionnaire-page .teaser .arrow i.far.fa-arrow-alt-circle-right {
      margin-left: 5px; }
.page-template-questionnaire-page .modal.show {
  display: flex !important;
  align-items: center; }
  .page-template-questionnaire-page .modal.show .modal-lg {
    width: 100%; }
    .page-template-questionnaire-page .modal.show .modal-lg .modal-header {
      background-color: #007ab1;
      color: white; }
    .page-template-questionnaire-page .modal.show .modal-lg .gform_page_footer {
      border-top: solid 2px #e4e4e4 !important; }
    .page-template-questionnaire-page .modal.show .modal-lg .gf_step_number {
      color: #007ab1;
      font-size: 21px !important; }
    .page-template-questionnaire-page .modal.show .modal-lg .gf_page_steps {
      border-bottom: solid 2px #e4e4e4;
      margin-bottom: 25px; }
    .page-template-questionnaire-page .modal.show .modal-lg .close {
      color: white;
      box-shadow: none;
      text-shadow: none;
      opacity: 1; }
    .page-template-questionnaire-page .modal.show .modal-lg .gform_next_button, .page-template-questionnaire-page .modal.show .modal-lg .gform_previous_button, .page-template-questionnaire-page .modal.show .modal-lg .gform_button {
      background-color: #007ab0;
      color: white;
      border: none;
      padding: 12px 45px; }
    .page-template-questionnaire-page .modal.show .modal-lg h3 {
      font-weight: 600 !important;
      margin-bottom: 25px !important;
      color: #505050; }
    .page-template-questionnaire-page .modal.show .modal-lg .gfield_label {
      background-color: #007ab1;
      color: #fff;
      padding: 7px 10px;
      margin-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.2px; }
    .page-template-questionnaire-page .modal.show .modal-lg .gfield_description {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 15px; }
    .page-template-questionnaire-page .modal.show .modal-lg .gsurvey-rank {
      width: 100% !important; }
      .page-template-questionnaire-page .modal.show .modal-lg .gsurvey-rank .gsurvey-rank-choice {
        background-color: #fafafa;
        margin-bottom: 10px;
        border: solid 1px #dedede;
        padding: 10px 40px;
        background-position: 0.8rem center !important; }
    .page-template-questionnaire-page .modal.show .modal-lg textarea {
      border: solid 1px #007ab0; }
    .page-template-questionnaire-page .modal.show .modal-lg .image-choices-choice-image-wrap {
      width: 150px !important;
      height: 150px !important;
      border-radius: 50%; }
    .page-template-questionnaire-page .modal.show .modal-lg .image-choices-choice-text {
      color: #007ab1;
      font-weight: 600 !important;
      margin-top: 15px;
      font-size: 14px; }
    .page-template-questionnaire-page .modal.show .modal-lg .image-choices-choice-selected {
      border: solid 1px #08cc08 !important;
      background: #f7fff7; }

.ebsih-hotspot-comment-box {
  position: fixed !important;
  top: 30vh; }

.ensih-highlight-cursor {
  box-shadow: none !important; }

.col-md-4.disabled {
  opacity: 0.5; }
  .col-md-4.disabled a:hover {
    cursor: not-allowed; }

#wrapper-footer {
  background-color: #fafafa; }

.squares-container h3 {
  font-size: 28px !important;
  background: #1a202c;
  padding: 25px !important;
  font-weight: 200 !important;
  line-height: 1 !important;
  color: #aaff01 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
.squares-container .squares-element p {
  background: white;
  color: black !important;
  padding: 4px 27px !important; }
  .squares-container .squares-element p:empty {
    display: none; }
.squares-container .squares-element :last-child {
  padding-bottom: 20px; }

.single-date {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
  border-bottom: solid 1px #bbbbbb;
  padding-bottom: 10px; }

.page-template-welcome-page {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1762' height='1468.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"); }
  .page-template-welcome-page .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    .page-template-welcome-page .welcome-container .content-box {
      background-color: white;
      padding: 50px;
      box-shadow: 0 0.5rem 2rem 0 rgba(7, 0, 71, 0.1); }
      .page-template-welcome-page .welcome-container .content-box h1 {
        text-align: center;
        color: #444444;
        font-size: 36px;
        margin-bottom: 1rem; }
      .page-template-welcome-page .welcome-container .content-box h4 {
        text-align: center;
        color: #6b6b6b;
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 2em; }
      .page-template-welcome-page .welcome-container .content-box p {
        text-align: center; }
      .page-template-welcome-page .welcome-container .content-box .lower-content {
        margin-top: 2rem;
        text-align: center; }
      .page-template-welcome-page .welcome-container .content-box .skip-link-lower {
        display: block;
        margin-top: 10px;
        color: #5d5d5d;
        font-size: 12px;
        text-decoration: underline;
        transition-duration: 0s; }
        .page-template-welcome-page .welcome-container .content-box .skip-link-lower:hover, .page-template-welcome-page .welcome-container .content-box .skip-link-lower:focus {
          text-decoration: none; }
      .page-template-welcome-page .welcome-container .content-box .feature-icon {
        text-align: center; }
        .page-template-welcome-page .welcome-container .content-box .feature-icon img {
          width: 60px; }
  .page-template-welcome-page .modal.show {
    display: flex !important;
    align-items: center; }
    .page-template-welcome-page .modal.show .modal-lg {
      width: 100%; }
      .page-template-welcome-page .modal.show .modal-lg .modal-header {
        background-color: #007ab1;
        color: white; }
      .page-template-welcome-page .modal.show .modal-lg .gform_page_footer {
        border-top: solid 2px #e4e4e4 !important; }
      .page-template-welcome-page .modal.show .modal-lg .gf_step_number {
        color: #007ab1;
        font-size: 21px !important; }
      .page-template-welcome-page .modal.show .modal-lg .gf_page_steps {
        border-bottom: solid 2px #e4e4e4;
        margin-bottom: 25px; }
      .page-template-welcome-page .modal.show .modal-lg .close {
        color: white;
        box-shadow: none;
        text-shadow: none;
        opacity: 1; }
      .page-template-welcome-page .modal.show .modal-lg .gform_next_button, .page-template-welcome-page .modal.show .modal-lg .gform_previous_button, .page-template-welcome-page .modal.show .modal-lg .gform_button {
        background-color: #007ab0;
        color: white;
        border: none;
        padding: 12px 45px; }
      .page-template-welcome-page .modal.show .modal-lg h3 {
        font-weight: 600 !important;
        margin-bottom: 25px !important;
        color: #505050; }
      .page-template-welcome-page .modal.show .modal-lg .gfield_label {
        background-color: #007ab1;
        color: white;
        padding: 6px 10px;
        margin-bottom: 15px;
        font-size: 16px;
        letter-spacing: 0.2px; }
      .page-template-welcome-page .modal.show .modal-lg .gfield_description {
        font-style: italic;
        font-weight: 600;
        margin-bottom: 15px; }
      .page-template-welcome-page .modal.show .modal-lg .gsurvey-rank {
        width: 100% !important; }
        .page-template-welcome-page .modal.show .modal-lg .gsurvey-rank .gsurvey-rank-choice {
          background-color: #fafafa;
          margin-bottom: 10px;
          border: solid 1px #dedede;
          padding: 10px 40px;
          background-position: 0.8rem center !important; }
      .page-template-welcome-page .modal.show .modal-lg textarea {
        border: solid 1px #007ab0; }
      .page-template-welcome-page .modal.show .modal-lg .image-choices-choice-image-wrap {
        width: 150px !important;
        height: 150px !important;
        border-radius: 50%; }
      .page-template-welcome-page .modal.show .modal-lg .image-choices-choice-text {
        color: #007ab1;
        font-weight: 600 !important;
        margin-top: 15px;
        font-size: 14px; }
      .page-template-welcome-page .modal.show .modal-lg .image-choices-choice-selected {
        border: solid 1px #08cc08 !important;
        background: #f7fff7; }

.page-template-document-library-page .file-item, .page-template-video-library-page .file-item {
  background: #1a202c;
  border: none;
  padding: 15px 20px;
  border-radius: 10px; }
.page-template-document-library-page .download-icon img, .page-template-video-library-page .download-icon img {
  width: 16px; }
.page-template-document-library-page .file-item .fa.fa-file-image-o, .page-template-video-library-page .file-item .fa.fa-file-image-o {
  color: #aa00ff; }
.page-template-document-library-page .side-nav .nav, .page-template-video-library-page .side-nav .nav {
  display: block;
  border: none; }
  .page-template-document-library-page .side-nav .nav .nav-link, .page-template-video-library-page .side-nav .nav .nav-link {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background: #1a202c;
    color: #d5dcee;
    position: relative;
    padding: 15px 20px;
    line-height: 1;
    border-radius: 10px;
    margin-bottom: 10px; }
    .page-template-document-library-page .side-nav .nav .nav-link.active, .page-template-video-library-page .side-nav .nav .nav-link.active {
      color: #aa00ff !important;
      border: 1px solid #aa00ff;
      font-weight: 400; }

.toggle {
  margin-top: 15px;
  cursor: pointer; }

.hamb {
  width: 28px;
  height: 2px;
  background: #19AAD9;
  margin-bottom: 5px; }

.dash-headline-item-one, .dash-headline-item-two, .dash-headline-item-three, .dash-headline-item-four {
  background: #1a202c;
  border: none;
  border-radius: 10px; }

.dash-headline-item-one h1 {
  font-size: 42px;
  font-weight: 200;
  color: #aaff01;
  margin-bottom: 20px; }
.dash-headline-item-one .earning-label {
  letter-spacing: 1px;
  color: #A0AEC0; }
.dash-headline-item-one .statement-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1a202c;
  border: 1px solid #aaff01;
  width: fit-content;
  padding: 15px 25px;
  background: #aaff01;
  border-radius: 100px;
  line-height: 1; }
  .dash-headline-item-one .statement-link:hover {
    background: #1a202c;
    border: 1px solid #aaff01;
    color: #aaff01; }

.dash-item-overlay {
  border: none; }
  .dash-item-overlay img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .4;
    width: 100%; }

.dash-headline-item-two .dash-item-overlay {
  width: 60%;
  padding: 30px; }
.dash-headline-item-two h4 {
  color: #ffaa01;
  font-weight: 200;
  font-size: 28px; }
.dash-headline-item-two .item-label {
  font-weight: 600;
  color: #d5dce6;
  line-height: 1; }
.dash-headline-item-two .report-link, .dash-headline-item-two a.polls_link, .dash-headline-item-two a.library_link {
  background: #ffaa01;
  border-radius: 100px;
  line-height: 1;
  color: #1a202c;
  padding: 10px 15px;
  width: fit-content;
  border: 1px solid #ffaa01; }
  .dash-headline-item-two .report-link:hover, .dash-headline-item-two a.polls_link:hover, .dash-headline-item-two a.library_link:hover {
    background: #1a202c;
    border: 1px solid #ffaa01;
    color: #ffaa01; }
.dash-headline-item-two a.polls_link {
  background: #ff00aa;
  border-color: #ff00aa; }
  .dash-headline-item-two a.polls_link:hover {
    color: #ff00aa;
    border-color: #ff00aa; }
.dash-headline-item-two a.library_link {
  background: #3dd1f2;
  border-color: #3dd1f2; }
  .dash-headline-item-two a.library_link:hover {
    color: #3dd1f2;
    border-color: #3dd1f2; }

.dash-headline-item-three > div {
  padding: 25px; }
.dash-headline-item-three h3.title-link {
  color: #f0a;
  text-align: left;
  font-weight: 200;
  font-size: 28px; }
.dash-headline-item-three a.polls_link, .dash-headline-item-three a.library_link {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  background: #ffaa01;
  border-radius: 100px;
  line-height: 1;
  color: #1a202c;
  padding: 10px 15px;
  width: fit-content;
  border: 1px solid #ffaa01; }
  .dash-headline-item-three a.polls_link:hover, .dash-headline-item-three a.library_link:hover {
    background: #1a202c;
    border: 1px solid #ffaa01;
    color: #ffaa01; }
.dash-headline-item-three a.polls_link {
  background: #ff00aa;
  border-color: #ff00aa; }
  .dash-headline-item-three a.polls_link:hover {
    color: #ff00aa;
    border-color: #ff00aa; }
.dash-headline-item-three a.library_link {
  background: #3dd1f2;
  border-color: #3dd1f2; }
  .dash-headline-item-three a.library_link:hover {
    color: #3dd1f2;
    border-color: #3dd1f2; }

.dash-headline-right-bottom-right h3.title-link {
  color: #3dd1f2; }

.dash-headline-item-two .item-desc, .dash-headline-item-one .earning-desc, .dash-headline-item-three .item-desc, .dash-headline-item-four .item-desc {
  color: #d5dce6;
  font-size: inherit;
  font-weight: 200;
  text-align: left; }

.logo-container-home {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .logo-container-home .custom-logo-link {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 15px; }

.title-link img {
  width: 16px;
  margin-left: 6px; }

.statement-link {
  position: relative;
  z-index: 5; }

.quick-link-wrapper {
  width: 100%;
  display: flex;
  align-items: center; }

.card-dash-one {
  background: #1a202c;
  border-radius: 10px;
  border: none; }
  .card-dash-one .dash-content h2 {
    color: #a0aec0;
    line-height: 1;
    font-size: 28px;
    font-weight: 400; }
  .card-dash-one .dash-content label {
    letter-spacing: 1px;
    margin-bottom: 0px;
    line-height: 1; }
  .card-dash-one a.quick-link-wrapper {
    width: auto;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer; }
    .card-dash-one a.quick-link-wrapper::hover > h2 {
      color: #fff; }
  .card-dash-one a:hover.quick-link-wrapper h2 {
    color: #edf5ff !important; }
  .card-dash-one .row > div {
    padding: 0; }
  .card-dash-one .row > div + div {
    border-left: 1px solid #2d3748; }
  .card-dash-one .row > div:nth-child(even) {
    background-color: transparent; }
  .card-dash-one .row > div:nth-child(odd) {
    background-color: transparent; }
  .card-dash-one .ion-ios-clock-outline:before, .card-dash-one .tx-primary {
    color: #ff00aa; }
  .card-dash-one .ion-ios-chatboxes-outline:before, .card-dash-one .tx-success {
    color: #3dd1f2; }
  .card-dash-one .ion-ios-bolt-outline:before, .card-dash-one .tx-purple {
    color: #d5ff21; }
  .card-dash-one .ion-ios-email-outline:before, .card-dash-one .tx-danger {
    color: #aa00ff; }

#single-wrapper .tx-inverse {
  padding: 25px; }
  #single-wrapper .tx-inverse h3 {
    font-weight: 200;
    font-size: 26px;
    color: #d5ff21; }
  #single-wrapper .tx-inverse a.btn.btn-outline-primary {
    background: #d5ff21;
    color: #1a202c;
    line-height: 1;
    padding: 15px 25px;
    border: 1px solid #d5ff21;
    border-radius: 100px; }
    #single-wrapper .tx-inverse a.btn.btn-outline-primary:hover, #single-wrapper .tx-inverse a.btn.btn-outline-primary:focus, #single-wrapper .tx-inverse a.btn.btn-outline-primary:active {
      background: #1a202c;
      color: #d5ff21;
      border: 1px solid #d5ff21 !important; }
#single-wrapper .single-date.tx-inverse {
  width: fit-content;
  margin: 0 0 0 auto;
  line-height: 1;
  padding: 10px 20px; }

.tx-inverse {
  color: inherit;
  background: #1a202c;
  border: none;
  border-radius: 10px;
  padding-bottom: 20px;
  font-style: normal; }

img.img-thumbnail {
  border-radius: 10px;
  border: none !important;
  padding: 0;
  background: #2d3748; }

.card.pd-30 {
  background: #1a202c;
  border: none;
  border-radius: 25px; }

.timeline-day .timeline-body::before {
  top: 0px;
  background-color: #ff00aa; }

.timeline-time {
  color: #d5dcee;
  font-weight: 400;
  padding-top: 10px;
  font-size: 14px;
  width: 120px; }

.timeline-body::before {
  top: 8px;
  left: -11px;
  width: 20px;
  height: 20px;
  border: 2px solid #aaff01;
  background: #aaff01; }

.timeline-title {
  font-weight: 200 !important;
  font-size: 26px !important;
  color: #aaff01 !important; }

.timeline-author {
  font-weight: 600 !important;
  line-height: 1 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit; }

.timeline-body p {
  color: inherit;
  font-size: inherit;
  margin-bottom: 10px; }
.timeline-body::after {
  width: 2px;
  background-color: #4a5568; }

.timeline-item.timeline-day {
  display: none; }

.disable .timeline-body::before {
  background: #1a202c !important;
  border-color: #f0a; }
.disable .timeline-body .timeline-title {
  color: #f0a !important; }
.disable .timeline-body .timeline-author {
  font-style: italic; }

html {
  overflow-x: hidden; }

.menu-left {
  left: -350px;
  opacity: 0.7; }

.menu-left-open {
  left: 0;
  opacity: 1; }

.menu-left {
  background: #1a202c;
  position: fixed;
  width: 350px;
  height: 100%;
  z-index: 9999;
  top: 0;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9); }
  .menu-left h2 {
    letter-spacing: -0.04em;
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    padding: 20px; }
    .menu-left h2 a {
      color: #19AAD9; }
      .menu-left h2 a ::after {
        content: ".";
        color: #fff;
        font-family: sans-serif; }
  .menu-left li > a {
    display: block;
    color: #a0aec0;
    font-size: 1.2em;
    padding: 20px;
    line-height: 1;
    cursor: pointer; }
    .menu-left li > a:hover {
      color: #edf5ff; }
  .menu-left #menu-menu-1 {
    padding: 0;
    margin: 0;
    list-style: none; }
    .menu-left #menu-menu-1 .dropdown-menu.show {
      border: none;
      background: none;
      box-shadow: none;
      position: relative;
      margin-top: 0px;
      padding: 0; }
      .menu-left #menu-menu-1 .dropdown-menu.show a {
        padding: .5rem 1rem; }

/* Push classes for body */
.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.menu-push, .menu-push-right {
  transition: 200ms ease-in-out; }

.timeline-item.disable {
  opacity: 0.75; }

.gform_next_button, .gform_previous_button, .gform_button {
  background-color: #007ab0;
  color: white;
  border: none;
  padding: 12px 45px; }

.postit {
  border: 0;
  border-radius: 3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  font-smoothing: subpixel-antialiased;
  width: 100%;
  padding-top: 90%;
  position: relative;
  margin-bottom: 15px; }
  .postit .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 25px;
    color: #4c4c4c; }
    .postit .content a {
      text-decoration: underline; }
      .postit .content a:hover, .postit .content a:focus {
        text-decoration: none; }

.quick-contact .gform_wrapper {
  margin: 0; }

.card-item-img img {
  opacity: 0.7 !important;
  transition: all 0.2s ease-in-out; }

.wrapper {
  padding-bottom: 0px !important; }

.close-icon {
  display: none;
  max-width: 35px;
  width: 35px;
  height: 35px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.on-page-search {
  max-width: 297px; }

.single-polls {
  background-color: #1a202c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1762' height='1468.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"); }
  .single-polls .modal.show .modal-lg {
    width: 100%; }
    .single-polls .modal.show .modal-lg .modal-header {
      background: 0 0;
      border-radius: 0;
      border-bottom: none; }
      .single-polls .modal.show .modal-lg .modal-header h1 {
        color: #3dd1f2;
        text-transform: inherit;
        line-height: 1;
        font-weight: 200;
        font-size: 31px;
        text-transform: none;
        padding: 0;
        margin: 0; }
    .single-polls .modal.show .modal-lg .gform_page_footer {
      border-top: 1px solid rgba(255, 255, 255, 0.2) !important; }
    .single-polls .modal.show .modal-lg .gform_wrapper .gf_step.gf_step {
      background: #2d3748;
      line-height: 1 !important;
      height: fit-content;
      padding: 5px 10px;
      border-radius: 10px;
      margin: 0 10px 10px 0; }
      .single-polls .modal.show .modal-lg .gform_wrapper .gf_step.gf_step .gf_step_number {
        color: #3dd1f2;
        font-size: 18px !important;
        line-height: 1; }
      .single-polls .modal.show .modal-lg .gform_wrapper .gf_step.gf_step span.gf_step_label {
        line-height: 1;
        padding: 5px 0 4px;
        color: #fff;
        font-weight: 400;
        letter-spacing: 0.01em; }
    .single-polls .modal.show .modal-lg .gf_page_step .gf_step_active {
      opacity: 1; }
    .single-polls .modal.show .modal-lg .gf_page_steps {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 25px; }
    .single-polls .modal.show .modal-lg .close {
      color: white;
      box-shadow: none;
      text-shadow: none;
      opacity: 1; }
    .single-polls .modal.show .modal-lg .gform_next_button, .single-polls .modal.show .modal-lg .gform_previous_button, .single-polls .modal.show .modal-lg .gform_button {
      background: #3dd1f2;
      color: #1a202c;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 1px;
      border: 1px solid #3dd1f2;
      width: fit-content;
      padding: 15px 25px;
      border-radius: 100px;
      line-height: 1;
      cursor: pointer; }
      .single-polls .modal.show .modal-lg .gform_next_button:hover, .single-polls .modal.show .modal-lg .gform_previous_button:hover, .single-polls .modal.show .modal-lg .gform_button:hover {
        background: #1a202c;
        color: #3dd1f2; }
    .single-polls .modal.show .modal-lg h3 {
      font-weight: 200 !important;
      margin-bottom: 25px !important;
      color: #edf5ff; }
    .single-polls .modal.show .modal-lg .gfield_label {
      color: #fff;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 400; }
    .single-polls .modal.show .modal-lg .gform_wrapper .gfield_required {
      color: #ff0a47; }
    .single-polls .modal.show .modal-lg .gform_wrapper .validation_error {
      color: #ff0a47;
      font-weight: 400;
      margin-bottom: 25px;
      border: none;
      padding: 10px;
      clear: both;
      width: 100%;
      text-align: center;
      background: #2d3748;
      border-radius: 10px;
      line-height: 1; }
    .single-polls .modal.show .modal-lg .gfield_description {
      font-weight: 400;
      margin-bottom: 15px;
      color: #eee; }
    .single-polls .modal.show .modal-lg .gsurvey-rank {
      width: 100% !important; }
      .single-polls .modal.show .modal-lg .gsurvey-rank .gsurvey-rank-choice {
        background-color: #2d3748 !important;
        margin-bottom: 10px;
        border: solid 1px #dedede;
        padding: 10px 40px;
        background-position: 0.8rem center !important;
        border-radius: 10px; }
    .single-polls .modal.show .modal-lg .gsurvey-rank-choice p {
      color: #3dd1f2;
      font-weight: 200;
      font-size: 1.5em;
      margin-left: 25px;
      margin-bottom: 0; }
    .single-polls .modal.show .modal-lg .gsurvey-rank-choice img {
      border-radius: 10px; }
    .single-polls .modal.show .modal-lg textarea {
      border: solid 1px #007ab0; }
    .single-polls .modal.show .modal-lg .image-choices-choice-image-wrap {
      width: 150px !important;
      height: 150px !important;
      border-radius: 10px; }
    .single-polls .modal.show .modal-lg .image-choices-choice {
      border: solid 2px #1a202c !important;
      border-radius: 15px; }
      .single-polls .modal.show .modal-lg .image-choices-choice .image-choices-choice-text {
        color: #edf5ff;
        font-weight: 200;
        font-size: 1.25em;
        line-height: 1; }
    .single-polls .modal.show .modal-lg .image-choices-choice-selected {
      border: solid 2px #3dd1f2 !important;
      border-radius: 15px; }
      .single-polls .modal.show .modal-lg .image-choices-choice-selected .image-choices-choice-text {
        color: #3dd1f2; }
    .single-polls .modal.show .modal-lg .gform_confirmation_message {
      padding-bottom: 20px; }
    .single-polls .modal.show .modal-lg .noUi-target {
      border: none;
      box-shadow: none;
      border-radius: 0;
      background: #d5dce6; }
    .single-polls .modal.show .modal-lg .noUi-handle {
      box-shadow: none;
      border-radius: 1px;
      border: none;
      background: #3dd1f2; }
    .single-polls .modal.show .modal-lg .noUi-touch-area {
      background: #3dd1f2; }
      .single-polls .modal.show .modal-lg .noUi-touch-area:focus {
        outline: #3dd1f2; }
    .single-polls .modal.show .modal-lg .noUi-handle:after, .single-polls .modal.show .modal-lg .noUi-handle:before {
      height: 12px;
      width: 2px;
      background: #1a202c;
      left: 12px;
      top: 8px; }
    .single-polls .modal.show .modal-lg .noUi-handle:after {
      left: 19px; }

@media only screen and (max-width: 600px) {
  .logo-container-home {
    display: none; }

  .dash-headline-item-two .dash-item-overlay {
    justify-content: center !important; } }
.rating {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 15px; }

.like,
.dislike {
  cursor: pointer; }
  .like i,
  .dislike i {
    font-size: 18px; }

.like.grow {
  margin-right: 10px; }

.dislike:hover,
.like:hover {
  color: #007ab1;
  transition: all .2s ease-in-out;
  transform: scale(1.1); }

.like.active, .dislike.active {
  color: #007ab1; }

.noUi-tooltip {
  background-size: cover !important;
  border: none !important;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  margin-bottom: 3px; }

.value-0 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Super_Angry_Face_Emoji_ios10_large.png?v=1571606092) !important; }
.value-1 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Crying_Emoji_Icon_548f640f-8622-4d07-ad75-053eb5cf3b03_large.png?v=1571606090) !important; }
.value-2 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Worried_Emoji_large.png?v=1571606113) !important; }
.value-3 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Sad_Emoji_large.png?v=1571606093) !important; }
.value-4 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Thinking_large.png?v=1571606093) !important; }
.value-5 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Expressionless_Emoji_Icon_45516a90-b907-4345-888a-37597cd6e42e_large.png?v=1571606089) !important; }
.value-6 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Relieved_Emoji_2_large.png?v=1571606092) !important; }
.value-7 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Relieved_Emoji_2_large.png?v=1571606092) !important; }
.value-8 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Emoji_Icon_34f238ed-d557-4161-b966-779d8f37b1ac_large.png?v=1571606093) !important; }
.value-9 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Smiling_large.png?v=1571606089) !important; }
.value-10 {
  background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Happy_Emoji_Icon_5c9b7b25-b215-4457-922d-fef519a08b06_large.png?v=1571606090) !important; }

.slider-display {
  margin-top: 3.5em !important; }
