a:active,input:active,button:active{outline:none !important;border:none !important}
a:focus,input:focus,button:focus{outline:0 !important;}
.btn-outline-primary:focus, .btn-outline-primary.focus{box-shadow:none !important}
body{
	background:#2D3748 !important;
	font-family: canada-type-gibson,sans-serif;
	font-weight: 200;
    font-size: 1rem;
	color: #D5DCE6;
}

#page-wrapper,#index-wrapper,#single-wrapper,div#full-width-page-wrapper {
    padding-top: 25px;
}

a {
    color: #19AAD9;
}

p > span {
    font-weight: inherit !important;
}
.button-cta-shortcode{
	.btn {
	    text-transform: uppercase;
	    font-weight: 700;
	    font-size: 12px;
	    letter-spacing: 1px;
	    background: #1ca9d8;
	    border-radius: 100px;
	    line-height: 1;
	    color: #1a202c;
	    padding: 10px 15px;
	    width: -webkit-fit-content;
	    width: -moz-fit-content;
	    width: fit-content;
	    border: 1px solid #1ca9d7;
	}
}

.header-cta {
    background-color: #1ca9d8;
    color: white;
    font-weight: 400;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

#cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background-color:#2d3848;
    z-index:1051;
}

.slim-header{
	position:relative;
	z-index:1052;
	background: #1a202c;
	border:none;
	.slim-logo{
        letter-spacing: -0.04em;
        font-size: 42px;
        font-weight: 600;
		a{
			color:#19AAD9;
		}
		
	}
	.search-box{
		align-items: center;
		border: 1px solid #4a5568;
		background-color: #1a202c;
		padding: 2px;
		border-top-right-radius: 100px;
		border-bottom-right-radius: 100px;
		border-top-left-radius: 100px;
		border-bottom-left-radius: 100px;
		padding-left: 10px;
		
         ::placeholder,:-ms-input-placeholder,::-ms-input-placeholder {
                  color: red;
            }
        
		input{
			color: #fff;
            padding-left: 10px;
            ::placeholder,::-ms-input-placeholder,::-ms-input-placeholder {
                  color: red;
            }
		}
		button.btn-primary{
			color: #1a202c;
			background: #2d3748;
			hover{
				background:#007ab1;
				color:#fff;
			}
			&::focus,&::active{
				outline:none !important;
				border-color:transparent;
			}
		}
	}
}

.slim-logo a:after{
	content: ".";
    color: #fff;
    font-family: sans-serif;
	}

.slim-pagetitle {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    padding-left: 0;
    border-left: none;
    text-transform: inherit;
    font-weight: 200;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0;
}

.slim-breadcrumb{
	background:none;
    font-weight: 200;
        .breadcrumb-item a{
            color:#718096;
        }
        .breadcrumb-item::before {
            color: #718096;
            padding: 0 5px;
        }
        .breadcrumb-item.active{
            color:#d5dcee;
        }
}

.slim-footer {
	border-top: none;
    background: #2d3748;
    color: #718096;
    padding: 25px 0;
	a{
		color:#718096;
		text-decoration: underline;
	}
	a:hover{
		color: #a0aec0;
	}
	.container, .slim-footer .container-fluid{
		font-size:12px;
		text-align: center;
	}
}



.cn-branding {
    background: #212121;
    .cn-logo {
    text-align:right;
    img {
	    max-width: 200px;
	    margin-top: 20px;
	    margin-bottom: 20px;
		}
	}
}	

	.image-header{
		display: block;
	    height: 0;
	    position: relative!important;
	    padding-top: 32.5%;
	    &:before{
		    content: '';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		   background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.48503151260504207) 37%, rgba(140,167,172,0.8155637254901961) 67%, rgba(0,59,71,1) 100%);
		    opacity: .5;
		    z-index: 1;
	    }
	    img{
		    object-fit: cover;
		    font-family: "object-fit: cover";
		    position: absolute;
		    width: 100%!important;
		    height: 100%!important;
		    top: 0;
		    right: 0;
		    z-index: 0;
		    -webkit-transition: -webkit-transform .3s ease;
		    transition: -webkit-transform .3s ease;
		    transition: transform .3s ease;
		    transition: transform .3s ease,-webkit-transform .3s ease;
	    }
    }

    #main-nav{
    	padding:30px;
    	p{
    	color:#6b6b6b;
    	}
    }
    .test{
    	box-shadow: 0 0.5rem 2rem 0 rgba(7,0,71,.1);
    	position:relative;
    	z-index:5;
    }
    .engage-nav{
    	background-color:white !important;
    }
    ul#main-menu{
    	width:100%;
    	justify-content:space-between;
    	.menu-item {
    		&.current-menu-item{
    			a{
    				color:#007ab0;
    				font-weight:400;
    			}
    		}
    		a{
    			color:black;
    			transition-duration:0.3s;
    			&:hover, &:focus{
    				color:#007ab0;
    			}
    		}
    	}
    }

    .logo-wrapper{
    	position:absolute;
    	z-index:3;
    	top:-100px;
    	img{
    		max-width:165px;
    		box-shadow: 0 0.5rem 2rem 0 rgba(7,0,71,.1);
    	}
    }

a{
	&:hover, &:focus{
		text-decoration:none;
	}
}

.imp-fullscreen-tooltips-container {
	.imp-fullscreen-tooltip {
		.imp-tooltip-close-button {
			position: sticky;
			line-height: 1;
			text-align: right;
			width: 100%;
			padding: 10px;
		}
	}
}
.imp-fullscreen-tooltip {
	background: rgba(0,0,0,0.75) !important;
}
.squares-container {
	margin: 0 auto;
	height: 100vh;
	display: table;
}
video.video_holder {
	margin: 0 auto;
	position: relative;
	width: 80%;
}

.image-container{
	display: block;
    height: 0;
    position: relative!important;
    &.home-teasers{
    	padding-top:56%;
    }
   	img{
		object-fit: cover;
	    font-family: "object-fit: cover";
	    position: absolute;
	    width: 100%!important;
	    height: 100%!important;
	    top: 0;
	    right: 0;
	    z-index: 0;
	    -webkit-transition: -webkit-transform .3s ease;
	    transition: -webkit-transform .3s ease;
	    transition: transform .3s ease;
	    transition: transform .3s ease,-webkit-transform .3s ease;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
   	}
}

.home-title{
	margin-bottom:25px;
}

.section-teasers{
	&:hover, &:focus{
		text-decoration:none;
		.lower-teaser-content{
			background-color:#d5ff21;
			h4{
				color:#1a202c;
			}
			.date{
				color:#1a202c;
			}
            
		}
	}
	.lower-teaser-content {
		position:relative;
		transition-duration:0.4s;
		background-color:#1a202c;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
	    padding: 25px;
	    margin-bottom: 25px;
		h4{
			color: #d5ff21;
            font-size: 1.6rem;
            margin-bottom: 0;
            font-weight: 200;
		}
		.date{	
            color: #d5dcee;
            font-size: 13px;
            margin-top: 0;
            font-weight: 400;
            letter-spacing: 0.5px;
		}
	    .icon-click {
		    width: fit-content;
		    background: #d5ff21;
		    padding: 15px 17px 16px 20px;
		    border-radius: 50%;
		    position: absolute;
		    box-shadow:0 0 10px rgba(0,0,0,.5);
		    top: -24px;
		    right: 25px;
		    img{
		    	width:15px;
		    	height:15px;
		    }
		}
	}
}

.alt-band {
    background-color: #fafafa;
    padding: 40px 0px;
    text-align:center;
    h5{
    	margin-bottom:0px;
    	font-size:2.1rem;
    	margin-bottom:15px;
    }
    p{
    	margin-bottom:25px;
    }
}

.btn.btn-default {
    background-color: #3dd1f5;
    color: #1a202c;
    border-radius: 100px;
    padding: 10px 25px;
    border:solid 1px #3dd1f5;
    transition-duration:0.3s;
    &:focus, &:hover{
    	color:#3dd1f5;
    	background:#1a202c;
    }

}

.modal {
    .modal-content{
        background:#1a202c;
        border-radius: 10px;
        font-size: inherit;
    }
    .modal-header{
        background: none;
        border-radius: 0;
        border-bottom: none;
        h6{
            line-height: 1;
            color: #aaff01;
            font-weight: 200;
            font-size: 31px;
            text-transform: none;
            padding: 0;
            margin: 0;
        }
        .close{
            color: #4a5568;
            opacity: 1;
            text-shadow: 0 0 black;
            &:hover{
                color: #ff0a47;
            }
        }
    }
    .modal-body{
        padding:0 25px;
        .mg-b-5{margin-bottom:0;}
    }
    .modal-footer{
        background: none;
        border: none;
        padding: 0 25px 25px;
        .btn, .sp-container button{
            background: #4a5568;
            border: 1px solid #4a5568;
            color: #1a202c;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 100px;
            line-height: 1;
            padding: 10px 20px;
            &:hover{
                border-color: #ff0a47;
                background: #1a202c;
                color: #ff0a47;
            }
        }
    }
}

.imp-ui-element{
    background: #1a202c !important;
    box-shadow: none;
    border: 1px solid #1a202c;
    border-radius: 10px;
    color: #d5dcee;
}

.page-template-questionnaire-page{

	.teaser {
	    box-shadow: 0 0.125rem 0.375rem 0 rgba(7,0,71,.1);
	    .teaser-content {
                padding:25px;
                background-color: #1a202c;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
    		h4{
			     color: #ffaa01;
                font-size: 1.6rem;
                margin-bottom:25px;
                font-weight: 200;
    		}
    	}
    	.image-container {
				  position: relative;
				  padding-top:46%;
				}

				.image {
				  display: block;
				  width: 100%;
				  height: auto;
				}

				.overlay {
				  position: absolute;
				  bottom: 100%;
				  left: 0;
				  right: 0;
				  background:rgba(255,170,1,0.75);
				  overflow: hidden;
				  width: 100%;
				  height:0;
				  transition: .5s ease;
				}

				.image-container:hover .overlay {
				  bottom: 0;
				  height: 100%;
				}

				.text {
				  color: #ffaa01;
				  font-size: 1em;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  -webkit-transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  text-align: center;
                    font-weight: 600;
                    letter-spacing: 1px;
                    border: 1px solid #1a202c;
                    line-height: 1;
                    padding: 10px 25px;
                    border-radius: 100px;
                    background: #1a202c;
                    text-transform: uppercase;                    
				}
    	.arrow {
		    background: #ffaa01;
		    color: #1a202c;
		    padding: 4px 15px;
		    width: fit-content;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
            border: 1px solid #ffaa01;
            padding: 15px 25px;
            border-radius: 100px;
            line-height: 1;
            margin:0 0 0 auto;
            &:hover{
                background: #1a202c;
		        color: #ffaa01;
            }            
		    i.far.fa-arrow-alt-circle-right{
		    	margin-left:5px;
		    }
		}
	}
    
	.modal{
		&.show{
			display:flex !important;
			align-items:center;
			.modal-lg{
				width:100%;
				.modal-header {
				    background-color: #007ab1;
				    color: white;
				}
				.gform_page_footer {
    				border-top: solid 2px #e4e4e4 !important;
				}
				.gf_step_number {
				    color:#007ab1;
				    font-size: 21px !important;
				}
				.gf_page_steps{
					border-bottom: solid 2px #e4e4e4;
					margin-bottom:25px;
				}
				.close {
				    color: white;
				    box-shadow: none;
				    text-shadow: none;
				    opacity: 1;
				}
				.gform_next_button,.gform_previous_button,.gform_button {
				    background-color: #007ab0;
				    color: white;
				    border: none;
				    padding: 12px 45px;
				}
				h3 {
				    font-weight: 600 !important;
				    margin-bottom: 25px !important;
				    color: #505050;
				}
				.gfield_label {
				    background-color: #007ab1;
				    color: #fff;
				    padding: 7px 10px;
				    margin-bottom: 15px;
				    font-size: 16px;
				    letter-spacing: 0.2px;
				}
				.gfield_description {
				    font-style: italic;
				    font-weight: 600;
				    margin-bottom:15px;
				}
				.gsurvey-rank{
					width:100% !important;
					.gsurvey-rank-choice {
					    background-color: #fafafa;
					    margin-bottom: 10px;
					    border: solid 1px #dedede;
					    padding: 10px 40px;
					    background-position: 0.8rem center !important;
					}
				}
				textarea {
	    			border: solid 1px #007ab0;
				}
				.image-choices-choice-image-wrap {
				    width: 150px !important;
				    height: 150px !important;
				    border-radius:50%;
				}
				.image-choices-choice-text {
				    color: #007ab1;
				    font-weight: 600 !important;
				    margin-top: 15px;
				    font-size:14px;
				}
				.image-choices-choice-selected {
				    border: solid 1px #08cc08 !important;
				    background: #f7fff7;
				}
			}
		}
	}
}



.ebsih-hotspot-comment-box{
	position:fixed !important;
	top:30vh;
}

.ensih-highlight-cursor{
	box-shadow:none !important;
}

.col-md-4.disabled {
    opacity: 0.5;
    a{
	    &:hover{
	    	cursor: not-allowed;
	    }
    }
}

#wrapper-footer {
    background-color: #fafafa;
}
.squares-container{
	h3 {
        font-size:28px !important;
        background: #1a202c;
        padding: 25px !important;
        font-weight: 200 !important;
        line-height: 1 !important;
        color: #aaff01 !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
	}
    .squares-element{
        p {
            background: white;
            color: black !important;
            padding: 4px 27px !important;
            &:empty{
                display:none;
            }
        }
        :last-child{
            padding-bottom:20px;
        }
    }
	
}

.single-date {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
    border-bottom: solid 1px #bbbbbb;
    padding-bottom: 10px;
}

.page-template-welcome-page{
	background-color: #f5f5f5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1762' height='1468.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
	.welcome-container {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 100vh;
	    .content-box {
		    background-color: #1a202c;
		    padding: 50px;
		    border-radius: 10px;
		    -webkit-box-shadow: 0 0.5rem 2rem 0 rgba(7,0,71,.1);
		    box-shadow: 0 0.5rem 2rem 0 rgba(7,0,71,.1);

		    h1 {
			    text-align: center;
			    color: #3dd1f2;
			    font-size: 36px;
			    margin-bottom: 1rem;
			}
			h4{
				text-align: center;
			    color: #3dd1f2;
			    font-size: 16px;
			    font-weight: 200;
			    margin-bottom: 2em;
			}
			p{
				text-align:center;
			}
			.lower-content {
				margin-top:2rem;
			    text-align: center;
			}
			.skip-link-lower {
			    display: block;
			    margin-top: 10px;
			    color: #A6FF01;
			    font-size: 12px;
			    text-decoration:underline;
			    transition-duration:0s;
			    &:hover, &:focus{
			    	text-decoration:none;
			    }
			}
			.feature-icon {
				text-align:center;
				img {
				    width: 60px;
				}
			}
		}
	}
	.modal{
		&.show{
			display:flex !important;
			align-items:center;
			.modal-lg{
				width:100%;
				.modal-header {
				    background-color: #007ab1;
				    color: white;
				}
				.gform_page_footer {
    				border-top: solid 2px #e4e4e4 !important;
				}
				.gf_step_number {
				    color:#007ab1;
				    font-size: 21px !important;
				}
				.gf_page_steps{
					border-bottom: solid 2px #e4e4e4;
					margin-bottom:25px;
				}
				.close {
				    color: white;
				    box-shadow: none;
				    text-shadow: none;
				    opacity: 1;
				}
				.gform_next_button,.gform_previous_button,.gform_button {
				    background-color: #007ab0;
				    color: white;
				    border: none;
				    padding: 12px 45px;
				}
				h3 {
				    font-weight: 600 !important;
				    margin-bottom: 25px !important;
				    color: #505050;
				}
				.gfield_label {
				    background-color: #007ab1;
				    color: white;
				    padding: 6px 10px;
				    margin-bottom:15px;
				    font-size: 16px;
				    letter-spacing: 0.2px;
				}
				.gfield_description {
				    font-style: italic;
				    font-weight: 600;
				    margin-bottom:15px;
				}
				.gsurvey-rank{
					width:100% !important;
					.gsurvey-rank-choice {
					    background-color: #fafafa;
					    margin-bottom: 10px;
					    border: solid 1px #dedede;
					    padding: 10px 40px;
					    background-position: 0.8rem center !important;
					}
				}
				textarea {
	    			border: solid 1px #007ab0;
				}
				.image-choices-choice-image-wrap {
				    width: 150px !important;
				    height: 150px !important;
				    border-radius:50%;
				}
				.image-choices-choice-text {
				    color: #007ab1;
				    font-weight: 600 !important;
				    margin-top: 15px;
				    font-size:14px;
				}
				.image-choices-choice-selected {
				    border: solid 1px #08cc08 !important;
				    background: #f7fff7;
				}
			}
		}
	}
}
.page-template-document-library-page, .page-template-video-library-page{
	.file-item {
        background: #1a202c;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
	}
	.download-icon img {
	    width: 16px;
	}
    .file-item .fa.fa-file-image-o{
        color:#aa00ff;
    }
	.side-nav{
		.nav{
			display: block;
		    border:none;
		    .nav-link {
			    display: block;
			    align-items: center;
			    justify-content: space-between;
			    height: 45px;
			    background: #1a202c;
                color: #d5dcee;
			    position: relative;
			    padding:15px 20px;
                line-height:1;
                border-radius:10px;
                margin-bottom: 10px;
			    &.active {
				    color: #aa00ff !important;
                    border: 1px solid #aa00ff;
                    font-weight: 400;
				}
			}
		}
	}
}
.toggle {
    margin-top: 15px;
    cursor:pointer;
}
.hamb{
  width: 28px;
  height: 2px;
  background: #19AAD9;
  margin-bottom: 5px;
  
}

.dash-headline-item-one,.dash-headline-item-two,.dash-headline-item-three,.dash-headline-item-four{
	background: #1a202c;
	border:none;
	border-radius: 10px;
}

.dash-headline-item-one{	
	h1 {
		font-size: 42px;
		font-weight: 200;
		color: #aaff01;
		margin-bottom: 20px;
	}
	.earning-label{
		letter-spacing: 1px;
    	color: #A0AEC0;	
	}
	.statement-link{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1px;
		color: #1a202c;
		border: 1px solid #aaff01;
		width: fit-content;
		padding: 15px 25px;
		background: #aaff01;
		border-radius: 100px;
		line-height: 1;
		&:hover{
			background: #1a202c;
			border: 1px solid #aaff01;
			color: #aaff01;
		}
	}
}

.dash-item-overlay {
	border:none;
	img {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    opacity: .4;
	    width: 100%;
	}
}

.dash-headline-item-two {
	.dash-item-overlay {
		width: 60%;
		padding: 30px;
		
	}
    h4{
        color:#ffaa01;
        font-weight:200;
        font-size:28px;
    }
    .item-label{
        font-weight: 600;
        color: #d5dce6;
        line-height: 1;
    }
    .report-link,a.polls_link,a.library_link{
        background:#ffaa01;
        border-radius: 100px;
        line-height: 1;
        color: #1a202c;
        padding: 10px 15px;
        width: fit-content;
        border: 1px solid #ffaa01;
        &:hover{
			background: #1a202c;
			border: 1px solid #ffaa01;
			color: #ffaa01;
		}
    }
    a.polls_link {
    background: #ff00aa;
    border-color: #ff00aa;
        &:hover{
            color: #ff00aa;
            border-color: #ff00aa;
        }
    }
    a.library_link {
    background: #3dd1f2;
    border-color: #3dd1f2;
        &:hover{
            color: #3dd1f2;
            border-color: #3dd1f2;
        }
    }

}

.dash-headline-item-three{
    >div{
        padding:25px;
    }
    h3.title-link{
        color: #f0a;
        text-align: left;
        font-weight: 200;
        font-size: 28px;
    }
    a.polls_link,a.library_link{
        margin-top:15px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        background:#ffaa01;
        border-radius: 100px;
        line-height: 1;
        color: #1a202c;
        padding: 10px 15px;
        width: fit-content;
        border: 1px solid #ffaa01;
        &:hover{
			background: #1a202c;
			border: 1px solid #ffaa01;
			color: #ffaa01;
		}
    }
    a.polls_link {
    background: #ff00aa;
    border-color: #ff00aa;
        &:hover{
            color: #ff00aa;
            border-color: #ff00aa;
        }
    }
    a.library_link {
    background: #3dd1f2;
    border-color: #3dd1f2;
        &:hover{
            color: #3dd1f2;
            border-color: #3dd1f2;
        }
    }

}

.dash-headline-right-bottom-right{
    h3.title-link{
        color:#3dd1f2;
    }
}

.dash-headline-item-two .item-desc, .dash-headline-item-one .earning-desc,.dash-headline-item-three .item-desc,.dash-headline-item-four .item-desc{
    color:#d5dce6;
    font-size:inherit;
    font-weight:200;
    text-align: left;
}

.logo-container-home {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

	.custom-logo-link {
	    display: block;
	    padding: 0;
	    margin: 0;
	    width: 100%;
	    padding: 15px;
	}
}

.title-link{
	img {
    	width: 16px;
    	margin-left: 6px;
	}
}

.statement-link{
	position:relative;
	z-index:5;
}

.quick-link-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-dash-one {
    background: #1a202c;
    border-radius: 10px;
    border:none;

    .dash-content{
        h2{
            color: #a0aec0;
            line-height: 1;
            font-size: 28px;
            font-weight: 400;
        }
        label {
            letter-spacing: 1px;
            margin-bottom: 0px;
            line-height: 1;
        }
    }    
	
    a.quick-link-wrapper {
        width:auto;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        cursor: pointer;
        &::hover>h2{
            color:#fff;
        }
    }
    a:hover.quick-link-wrapper {
        h2 {
            color:#edf5ff !important;
        }
    }
    
    .row>div{
        padding:0;
	}
    
	.row>div+div{
		border-left:1px solid #2d3748;
	}
	.row>div:nth-child(even){
		background-color:transparent;	
	}
	
	.row>div:nth-child(odd){
		background-color:transparent;	
	}
	
	.ion-ios-clock-outline:before,.tx-primary{
		color:#ff00aa;
	}
	
	.ion-ios-chatboxes-outline:before,.tx-success{
		color:#3dd1f2;
	}
	
	.ion-ios-bolt-outline:before,.tx-purple{
		color:#d5ff21;
	}
	
	.ion-ios-email-outline:before,.tx-danger{
		color:#aa00ff;
	}
	
	
}
#single-wrapper{
    .tx-inverse{
        padding:25px;
        h3{
            font-weight: 200;
            font-size:26px;
            color:#d5ff21;
        }
        a.btn.btn-outline-primary{
            background:#d5ff21;
            color: #1a202c;
            line-height: 1;
            padding: 15px 25px;
            border:1px solid #d5ff21;
            border-radius:100px;
            &:hover,&:focus,&:active{
                background: #1a202c;
                color: #d5ff21;
                border:1px solid #d5ff21 !important;
            }
        }
    }
        .single-date.tx-inverse{
            width: fit-content;
            margin: 0 0 0 auto;
            line-height: 1;
            padding: 10px 20px;
        }
}

.tx-inverse {
    color:inherit;
    background: #1a202c;
    border: none;
    border-radius: 10px;
    padding-bottom: 20px;
    font-style: normal;
}

img.img-thumbnail {
    border-radius: 10px;
    border: none !important;
    padding: 0;
    background: #2d3748;
}

.card.pd-30 {
    background: #1a202c;
    border: none;
    border-radius: 25px;
}

.timeline-day .timeline-body::before {
    top: 0px;
    background-color: #ff00aa;
}

.timeline-time{
    color: #d5dcee;
    font-weight: 400;
    padding-top: 10px;
    font-size: 14px;
    width: 120px;
}

.timeline-body::before {
    top: 8px;
    left: -11px;
    width: 20px;
    height: 20px;
    border: 2px solid #aaff01;
    background: #aaff01;
}

.timeline-title{
    font-weight: 200 !important;
    font-size: 26px !important;
    color: #aaff01 !important;
}

.timeline-author{
    font-weight: 600 !important;
    line-height: 1 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit;
}

.timeline-body {
    p{
    color: inherit;
    font-size: inherit;
    margin-bottom: 10px;
    }
    &::after {
        width: 2px;
        background-color: #4a5568;
    }
}

.timeline-item.timeline-day {
    display: none;
}

.disable .timeline-body{
    &::before {
        background: #1a202c !important;
        border-color:#f0a;
    }
    .timeline-title{
        color: #f0a !important;
    }
    .timeline-author{
       font-style:italic;
    }
}


$menuWidth: 350px;
$transitionSpeed: 200ms;

html {
  overflow-x: hidden;
}

.menu-left{
  left: -$menuWidth;
  opacity: 0.7;
}
  
.menu-left-open{
  left: 0;
  opacity: 1;
}
 
.menu-left{
    background: #1a202c;
    position: fixed;
    width: $menuWidth;
    height: 100%;
    z-index: 9999;
    top: 0;
    transition: all $transitionSpeed ease-in-out;
    box-shadow:0px 0px 10px rgba(0,0,0,0.9);
    h2{
        letter-spacing: -0.04em;
        font-size: 42px;
        font-weight: 600;
        margin: 0;
        padding:20px;
        a{
            color:#19AAD9;
            ::after{
				content: ".";
				color: #fff;
				font-family: sans-serif;
			}
        }
    }
    li > a{
        display: block;
        color: #a0aec0;
        font-size: 1.2em;
        padding: 20px;
        line-height: 1;
        cursor: pointer;
        &:hover{
            color:#edf5ff;
        }
    }
    #menu-menu-1 {
        padding: 0;
        margin: 0;
        list-style: none;
        .dropdown-menu.show {
            border: none;
            background: none;
            box-shadow: none;
            position: relative;
            margin-top:0px;
            padding:0;
            a{
                padding: .5rem 1rem;
            }
        }
    }
}
    
/* Push classes for body */
.menu-push{
  overflow-x: hidden;
  position: relative;
  left: 0;
}
  

  
.menu-push, .menu-push-right{
  transition: $transitionSpeed ease-in-out;
}

.timeline-item.disable {
    opacity: 0.75;
}

.gform_next_button,.gform_previous_button,.gform_button {
    background-color: #007ab0;
    color: white;
    border: none;
    padding: 12px 45px;
}

.postit {
  border:0;
  border-radius:3px;
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  width: 100%;
  padding-top: 90%; 
  position: relative;
  margin-bottom:15px;
  .content{
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width:100%;
	padding: 25px;
	color: #4c4c4c;
	a{
		text-decoration:underline;
		&:hover, &:focus{
			text-decoration:none;
		}
	}
  }
}

.quick-contact .gform_wrapper {
    margin: 0;
}

.card-item-img img {
    opacity: 0.7 !important;
    transition: all 0.2s ease-in-out;
}

.wrapper{
	padding-bottom:0px !important;
}

.close-icon{
	display:none;
	max-width:35px;
    width: 35px;
    height: 35px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.on-page-search {
    max-width: 297px;
}

.single-polls{
	background-color: #1a202c;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1762' height='1468.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
	.modal{
		&.show{
			.modal-lg{
				width:100%;
				.modal-header {
                    background: 0 0;
                    border-radius: 0;
                    border-bottom: none;
                    
                    h1{
                        color: #3dd1f2;
                        text-transform:inherit;
                        line-height: 1;
                        font-weight: 200;
                        font-size: 31px;
                        text-transform: none;
                        padding: 0;
                        margin: 0;
                    }
                    }
				.gform_page_footer {
    				border-top:1px solid rgba(255,255,255,0.2) !important;
				}
                
                .gform_wrapper .gf_step.gf_step {
                    background: #2d3748;
                    line-height: 1 !important;
                    height: fit-content;
                    padding: 5px 10px;
                    border-radius: 10px;
                    margin:0 10px 10px 0;
                    .gf_step_number {
                        color: #3dd1f2;
                        font-size: 18px !important;
                        line-height: 1;
                    }
                    span.gf_step_label {
                        line-height: 1;
                        padding: 5px 0 4px;
                        color: #fff;
                        font-weight: 400;
                        letter-spacing: 0.01em;
                    }                
                }
                
                .gf_page_step{
                    .gf_step_active{
                        opacity:1;
                }
                }
				.gf_page_steps{
					border-bottom:1px solid rgba(255,255,255,0.2);
					margin-bottom:25px;
				}
				.close {
				    color: white;
				    box-shadow: none;
				    text-shadow: none;
				    opacity: 1;
				}
				.gform_next_button,.gform_previous_button,.gform_button {
				    background: #3dd1f2;
				    color: #1a202c;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    letter-spacing: 1px;
                    border: 1px solid #3dd1f2;
                    width: fit-content;
                    padding: 15px 25px;
                    border-radius: 100px;
                    line-height: 1;
                    cursor: pointer;
                        &:hover{
                            background: #1a202c;
                            color:#3dd1f2;
                        }
                    }
				h3 {
				    font-weight: 200 !important;
				    margin-bottom: 25px !important;
				    color: #edf5ff;
				}
				.gfield_label {
				    color: #fff;
                    margin-bottom: 15px;
                    font-size: 16px;
                    font-weight: 400;
				}
                .gform_wrapper .gfield_required{
                    color:#ff0a47;
                }
                .gform_wrapper .validation_error{
                    color: #ff0a47;
                    font-weight: 400;
                    margin-bottom: 25px;
                    border: none;
                    padding: 10px;
                    clear: both;
                    width: 100%;
                    text-align: center;
                    background: #2d3748;
                    border-radius: 10px;
                    line-height: 1;
                }
                .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
                    
                }
				.gfield_description {
				        font-weight: 400;
                        margin-bottom: 15px;
                        color: #eee;
				}
				.gsurvey-rank{
					width:100% !important;
					.gsurvey-rank-choice {
					    background-color: #2d3748 !important;
					    margin-bottom: 10px;
					    border: solid 1px #dedede;
					    padding: 10px 40px;
					    background-position: 0.8rem center !important;
                            border-radius: 10px;
					}
				}
                  .gsurvey-rank-choice p {
                    color: #3dd1f2;
                    font-weight: 200;
                    font-size: 1.5em;
                    margin-left: 25px;
                    margin-bottom: 0;
                }
                .gsurvey-rank-choice img {
                    border-radius: 10px;
                }
				textarea {
	    			border: solid 1px #007ab0;
				}
				.image-choices-choice-image-wrap {
				    width: 150px !important;
				    height: 150px !important;
				    border-radius:10px;
				}
				
				.image-choices-choice {
				    border: solid 2px #1a202c !important;
                    border-radius: 15px;
                    .image-choices-choice-text {
                        color: #edf5ff;
                        font-weight:200;
                        font-size: 1.25em;
                        line-height: 1;
                    }
				}
                .image-choices-choice-selected {
				    border: solid 2px #3dd1f2 !important;
                    border-radius: 15px;
                    .image-choices-choice-text {
                        color:#3dd1f2;
                    }
				}
                
                .gform_confirmation_message {
                    padding-bottom: 20px;
                }

            .noUi-target {
                border: none;
                box-shadow: none;
                border-radius: 0;
                background: #d5dce6;
            }
                .noUi-handle {
                    box-shadow: none;
                    border-radius: 1px;
                    border: none;
                    background: #3dd1f2;
                }

                .noUi-touch-area{
                    background: #3dd1f2;
                    &:focus{
                        outline:#3dd1f2;
                    }
                }
                
                .noUi-handle:after, .noUi-handle:before {
                    height: 12px;
                    width: 2px;
                    background: #1a202c;
                    left: 12px;
                    top: 8px;
                }
            .noUi-handle:after {
                    left: 19px;
                }
            
              
                
                
            }
		}
	}
}
@media only screen and (max-width: 600px) {
	.logo-container-home{
		display:none;
	}
	.dash-headline-item-two .dash-item-overlay{
		justify-content:center !important;
	}
}

.rating {
	position:absolute;
	bottom:10px;
  .pld-like-dislike-wrap{
  	margin-bottom:0px !important;
  	.pld-common-wrap{
  		min-width:auto !important;
  	}
  	a{
  		text-decoration:none !important;
  	}
  }
}
.single-responses{
	.pld-like-dislike-wrap{
		display:none;
	}
}
.like,
.dislike {
  cursor: pointer;
  i{
  	font-size:18px;
  }
}
.like.grow{
	margin-right:10px;
}

.dislike:hover,
.like:hover {
  color: #007ab1;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.like , .dislike{
	&.active {
	  color: #007ab1;
	}
}

.noUi-tooltip {
    background-size: cover !important;
    border: none !important;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    margin-bottom: 3px;
    background-color: #1a212c !important;
}

.value{
	&-0{
	background-image:url(/wp-content/themes/engage/assets/emojis/05_Angry.png) !important;
	}
	&-1{
	background-image:url(/wp-content/themes/engage/assets/emojis/04_Sad.png) !important;
	}
	&-2{
	background-image:url(/wp-content/themes/engage/assets/emojis/03_Neutral.png) !important;
	}
	&-3{
	background-image:url(/wp-content/themes/engage/assets/emojis/02_Happy.png) !important;
	}
	&-4{
	background-image:url(/wp-content/themes/engage/assets/emojis/01_Excited.png) !important;
	}
}

.slider-display {
    margin-top: 3.5em !important;
}

.ebsih-hotspot-comment-box {
	    width: 50% !important;
	    margin-left: 25%;
	    border: none !important;
	    background: #1a202c !important;
	    border-radius: 10px !important;
    #submit {
	    background: #4a5568;
	    border: 1px solid #4a5568;
	    color: #1a202c;
	    font-weight: 600;
	    text-transform: uppercase;
	    border-radius: 100px;
	    line-height: 1;
	    padding: 10px 20px;
	}
	input[type=text], #comment, #email, #url {
	    border: solid 1px #ffffff;
	    color: white;
	    background: transparent;
	}
}
.page-template-libraries,.page-template-ideas-page,.single-responses {
	.card{
		background-color:transparent !important;
		border:none !important;
		.bg-mantle{
			background-image:none !important;
		}
		img{
			border-top-left-radius: 10px;
		    border-top-right-radius: 10px;
		}
		.card-body {
		    background-color: #1a202c;
		    border: none !important;
		    border-bottom-left-radius: 10px;
		    border-bottom-right-radius: 10px;
		}
		.blog-title a, h6{
		    color: #ffaa01;
		    font-size: 1.6rem;
		    margin-bottom: 25px;
		    font-weight: 200;
		}
	}
}

.single-responses {
	.card-body {
		border-radius:10px !important;
	}
	.card-footer {
	    border: solid #f0a 1px;
	    border-radius: 10px;
	    margin-top: 15px;
	    color: #f0a;
	    font-weight: 400;
	    width: fit-content;
	}
}

.fa-search {
    color: #1ca9d8;
}

.search{
	h1{
		margin-top:25px;
	}
	.list-group-item{
		background-color: #1a212c !important;
		border:none !important;
	}
	.tx-info {
    	color: #aaff01;
	}
	h6 {
		a{
	    	color: #aaff01;
	    	font-size:22px;
	    }
	    border-bottom:solid 1px white;
	    padding-bottom:25px;
	}
	.btn {
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 12px;
	    letter-spacing: 1px;
	    color: #1a202c;
	    border: 1px solid #aaff01;
	    width: -webkit-fit-content;
	    width: -moz-fit-content;
	    width: fit-content;
	    padding: 15px 25px;
	    background: #aaff01;
	    border-radius: 100px;
	    line-height: 1;

	    &:hover, &:focus{
	    	background: #1a202c;
		    border: 1px solid #aaff01;
		    color: #aaff01;
	    }
	}
	.pagination .page-item.active span {
	    background-color: #aaff01 !important;
	    color: black;
	}
}

.question-cta {
    background-color: #1ca9d7;
    color: #1a212c;
    padding: 15px 0;
    font-weight: 400;
    font-size: 15px;
    .btn{
		border: solid 1px #1a212c;
		background-color:#1a212c;
		color:white;
    }
    p:last-of-type{
    	margin-bottom:0px;
    }
}

#slideOut {
	position: fixed;
	width: 300px;
	height: 800px;
	top: 270px;
	right: -300px;
	z-index: 15;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	h4{
		color:#1a212c;
	}
	.modal-content {
	    min-height: 400px;
	    p,.gfield_label{
			color:#1a212c;
			font-weight:400;
	    }
	    .gfield {
	    	padding: 0px !important;
		}
		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	    width: 100% !important;
		}
		.gform_button {
	    	background-color: #19aad9 !important;
	    	color: white;
	    	padding: 6px;
	    	font-weight: 400;
	    	border: none;
	    	border-radius:25px;
		}
		.gfield_radio{
			label{
				color:black;
				font-weight:400;
			}
			input{
				margin-top:0px;
			}
		}
		.ginput_container_radio{
			margin-top:0px;
		}
	}
}
.showSlideOut {
	right: 0px !important;
}
.slideOutTab {
	margin-top: 50px;
	position: absolute;
	left: -40px;
	height: 200px;
	width: 40px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	background: #19aad9;
	border-radius: 15px 0px 0px 15px;
	div {
		text-align: center;
		position: relative;
		right: 70px;
		top: 90px;
		color:white;
		background: #19aad9;
		width: 180px;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		writing-mode: lr-tb;
	}
}
.h-scrollable{
	position: relative;
  	overflow: hidden;
  	@media only screen and (max-width: 768px) {
  	overflow:scroll !important;
  	}
    width: 100%;
}




// confetti canvas
#particle-canvas {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.confetti-background{
	.header-region{
		padding-top:25px;
		img{
			max-width:80px;
			margin:auto;
			margin-bottom:20px;
		}
		h1{
			margin-bottom:20px;
			font-size:22px;
		}
	}
	hr{
		border-color:#aaff01;
		margin-bottom:25px;
	}
	h2{
		font-size:18px;
	}
	.share-buttons{
		display:flex;
		list-style:none;
		padding: 0;
		margin-left:30%;
		margin-right:30%;
		margin-top:25px;
		margin-bottom:25px;
    	justify-content: space-around;
		li img {
    		max-width: 40px;
    		width:100%;
		}
	}
	.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #aaff01;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #aaff01;
  stroke-miterlimit: 10;
  margin: 5% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #1a212c;
  }
}
}











